<table class="table table-hover">
  <thead>
  <tr>
    <td>کد</td>
    <td>عنوان</td>
    <td>تعداد</td>
    <td>قیمت کل</td>
    <td>قیمت</td>
    <td>نام مشتری</td>
    <td>شماره مشتری</td>
    <td>تصویر</td>
    <td colspan="2">عملیات</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let userOrder of userOrders">
    <td>{{ userOrder.product.productCode }}</td>
    <td>{{ userOrder.product.name }}</td>
    <td>{{ userOrder.qty }}</td>
    <td>{{ userOrder.totalPrice }}</td>
    <td>{{ userOrder.product.cost }}</td>
    <td>{{ userOrder.user.userName }}</td>
    <td>{{ userOrder.user.userPhoneNumber }}</td>
    <td><img width="100px" src="{{ userOrder.product.productImages.length !=0 ? 'http://localhost:8080/ViraCamServer/product/files?id=' + userOrder.product.id +
      '&filename=' + userOrder.product.productImages[0].filename : '' }}">
    </td>
    <td><a [routerLink]="['/product-edit', userOrder.product.id]" class="btn btn-primary">تایید</a></td>
    <td><a routerLink="" class="btn btn-danger">لغو سفارش</a></td>
  </tr>
  </tbody>
</table>

