<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <td>شماره فاکتور</td>
    <td>نام مشتری</td>
    <td>شماره تماس</td>
    <td>تاریخ سفارش</td>
    <td>محل باربری/ترمینال</td>
    <td>کل فاکتور</td>
    <td>نحوه حمل</td>
    <td>وضعیت فاکتور</td>
    <td colspan="3">عملیات</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let userOrder of userOrders">
    <td>{{ userOrder.orderSerial}}</td>
    <td>{{ userOrder.userFullName }}</td>
    <td>{{ userOrder.userPhoneNumber }}</td>
    <td>{{ userOrder.orderDate }}</td>
    <td>{{ userOrder.shippingMethodDetails }}</td>
    <td>{{ userOrder.totalFactor }}</td>
    <td>{{ userOrder.shippingMethod != null ? userOrder.shippingMethod.value : "نامشخص" }}</td>
    <td>{{ userOrder.orderStatus != null ? userOrder.orderStatus.value : "نامشخص" }}</td>
    <!--<td><img width="100px" src="{{ userOrder.product.productImages.length !=0 ? 'http://176.31.82.40:8080/ViraCamServer/product/files?id=' + userOrder.product.id +-->
      <!--'&filename=' + userOrder.product.productImages[0].filename : '' }}">-->
    <!--</td>-->
    <td><a [routerLink]="['/factor-details', userOrder.id]" class="btn btn-primary">جزییات</a></td>
    <td><a (click)="confirmOrder(userOrder.id)" class="btn btn-primary">تایید</a></td>
    <td><a (click)="cancelOrder(userOrder.id)" class="btn btn-danger">لغو سفارش</a></td>
  </tr>
  </tbody>
</table>

