<div style="text-align:center;" class="form-group">
  <input id="cost" name="cost" type="text" class="form-control"
         required value="{{newProduct.cost}}" [(ngModel)]="newProduct.cost" #costInput placeholder="هزینه کالا">
  <br/>
  <input class="form-control" id="name" type="text" required value="{{newProduct.name}}" [(ngModel)]="newProduct.name" name="name" placeholder="نام کالا" #nameInput>
  <br/>
  <textarea class="form-control" id="description" type="text" required value="{{newProduct.description}}" [(ngModel)]="newProduct.description" name="description" placeholder="توضیحات" #descriptionInput>
            </textarea>
  <br/>
  تصویر محصول
  <input type="file" id="productImage" name="productImage" (change)="uploadImageService.fileChangeEvent($event)">
  <br/>
  <button class="btn btn-success" (click)="onSubmit()">ثبت کالا</button>
  <button class="btn btn-warning" routerLink="/">لغو</button>
</div>
