<div class="card-body table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>عنوان کالا</th>
      <th>نام کاربری</th>
      <th>شماره تماس</th>
      <th>تاریخ سفارش</th>
      <th>وضعیت</th>
      <th>تایید</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <th scope="row">#</th>
      <td>{{item.product.name}}</td>
      <td>{{item.user.userName}}</td>
      <td>{{item.user.userPhoneNumber}}</td>
      <td>{{item.orderDate}}</td>
      <td>{{item.orderStatus.value}}</td>
      <td><button *ngIf="item.orderStatus.code.includes('START_ORDER',0)" class="btn btn-primary" (click)="open(content,item.id)">تایید</button></td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">تایید سفارش</h4>
  </div>
  <div class="modal-body">
    <p>{{selectedItem.product.name}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmThisOrder()">تایید</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">بستن</button>
  </div>
</ng-template>
<!--<mat-list>
  <mat-list-item *ngFor="let item of items">
    <span>
      {{item.product.name}}
    </span>
    <button mat-raised-button color="primary" (click)="confirmThisOrder(item.id)" >تایید</button>
  </mat-list-item>
</mat-list>-->
