<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <td>کد</td>
    <td>عنوان</td>
    <td>قیمت</td>
    <td>تصویر</td>
    <td colspan="2">عملیات</td>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
    <td>{{ product.productCode }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.cost }}</td>
    <td><img width="100px" src="{{ product.productImages.length !=0 ? 'http://localhost:8080/ViraCamServer/product/files?id=' + product.id +
      '&filename=' + product.productImages[0].filename : '' }}">
      </td>
    <td><a [routerLink]="['/product-edit', product.id]" class="btn btn-primary">اصلاح</a></td>
    <td><a (click)="deleteProduct(product)" class="btn btn-danger">حذف</a></td>
  </tr>
  </tbody>
</table>

