<div style="text-align:center;">
  <input id="cost" name="cost" type="text" class="form-control"
         required value="{{newProduct.cost}}" [(ngModel)]="newProduct.cost" #costInput placeholder="هزینه کالا">
  <br/>
  <input id="name" type="text" required value="{{newProduct.name}}" [(ngModel)]="newProduct.name" name="name" placeholder="نام کالا" #nameInput>
  <br/>
  <textarea mdInput id="description" type="text" required value="{{newProduct.description}}" [(ngModel)]="newProduct.description" name="description" placeholder="توضیحات" #descriptionInput>
            </textarea>
  <br/>
  <img src="{{fileAddress}}">
  <br/>
  تصویر محصول
  <input type="file" id="productImage" name="productImage" (change)="uploadImageService.fileChangeEvent($event)">
  <br/>
  <button (click)="onSubmit()">ثبت کالا</button>
  <a class="mat-warn" routerLink="/">لغو</a>
</div>
