<!--The content below is only a placeholder and can be replaced.-->
<html dir="rtl">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Vira Cam Admin</a>
    </div>
    <ul class="nav navbar-nav" *ngIf="loggedIn === 'true'">
      <li><a href="#" [routerLink]="['/product-list']">لیست محصولات</a></li>
      <li><a href="#" [routerLink]="['/product-add']">ایجاد کالا</a></li>
      <li><a href="#" [routerLink]="['/order-list']">لیست سفارشات</a></li>
      <li><a href="#" [routerLink]="['/user-list']">لیست کاربران</a></li>
      <li><a href="#" (click)="logOut()">خروج</a></li>
    </ul>
  </div>
</nav>
<!--<div style="text-align: right">
  <button class="btn btn-lg btn-secondary" [routerLink]="['/product-list']">لیست محصولات</button>
  <button class="btn btn-lg btn-primary" [routerLink]="['/product-add']">ایجاد کالا</button>
  <button class="btn btn-lg btn-primary" [routerLink]="['/order-list']">لیست سفارشات</button>
  <button class="btn btn-lg btn-primary" [routerLink]="['/user-list']">لیست کاربران</button>
</div>-->
<main class="main">

  <!-- Breadcrumb -->

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div><!-- /.conainer-fluid -->
</main>
</html>
